<div class="content">
    <div class="container item-flex">
        <div class="item">
            <img src="/static/images/IMG_9790.JPG">
        </div>
        <div class="item">
            <img src="/static/images/IMG_9791.JPG">
        </div>
        <div class="item">
            <img src="/static/images/IMG_9792.JPG">
        </div>
    </div>
</div>

<div class="content">
    <div class="container item-flex text">
        <div class="item text">Model Espanola Precioca</div>
        <div class="item text">Model Linda Increible</div>
        <div class="item text">Model Klava NoShiffer</div>
    </div>
</div>
